* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", "Open Sans", sans-serif;
}

body {
    background-color:rgb(2, 0, 3);
    color: rgb(230, 212, 208);
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}


header {
    width: 100%;
    height: 5rem;
    background-color: rgba(8, 3, 14, 0.4);
    border-bottom: 1px solid rgba(85, 83, 83,);
    position: sticky;
    z-index: 50;
    top: 0;
}

header nav {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 0 1rem;
}

/* list style and links underline removal */
ul li {
    list-style: none;
}

a{
    text-decoration: none;
}

/* NAVIAGTION BAR SECTION */
header .desktop,
header nav > a {
    display: none;
}

/* LOGO AND NAME SECTION */
.name{
    display: flex;
    gap: 0.2rem;
    font-size: 1.5rem;
    font-weight: 800;
    align-items: center;
}

.name span:nth-child(1){
    background-color:  #311531;
    color: #5a154e;
    width: 4rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.name span:nth-child(2){
    color: rgb(230, 212, 208);
    display: flex;
    justify-content: center;
    align-items: center;
    
}


/* NAVIGATION BAR FOR MOBILE */
.mobile ul.mobile-dropdown{
    position: absolute;
    right: 0;
    top: 100%;
    background-color: #5f0b47;
    color: #f0e8e5;
    border-left: 1px solid rgb(126, 117, 117);
    border-bottom: 1px solid rgb(126, 117, 117);
    width: 60%;
    max-width: 12rem;
    height: calc(100vh - 5rem);
    padding: 1.5rem 1rem;
    display:none;
    flex-direction: column;
    gap: 2rem;
}

.mobile a{
    color: black;
    font-weight: 500;
}

.mobile-dropdown li:nth-child(6) {
background-color: #5f0b47;
    color: #f0e8e5;
display: flex;
justify-content: center;
align-items: center;
border-radius: 10px;
width: 8rem;
height: 2rem;
font-size: 0.8rem;
gap: 0.5rem;
}

.mobile button{
    background-color: rgb(230, 212, 208);
    font-size: 1.8rem;
    border-radius: 10px;
    outline: 0;
}

.mobile li:nth-child(6) span{
    color: rgb(32, 227, 165);
}

/* HERO/HOME SECTION */
#hero {
    background-color: #16081b;
    width: 100%;
    height: 100%;
    border: 1px solid rgb(103, 101, 101, 0.3);
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

.hero-intro{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 0.5rem 0.9rem;
    font-size: 0.5rem;
}

.hero-intro h1 {
    font-size: 1.2rem;
    font-weight: 600;
    font-family: "Montserrat";
}

.hero-intro p{
    font-size: 0.5rem;
    font-weight: 600;
    font-family: "Roboto";
}

.hero-intro > a {
    background-color: #5f0b47;
    color: #f0e8e5;
    padding: 0.5rem;
    border-radius: 10px;
    align-self: flex-start;
    transition: transform  0.3s ease-in-out;
}

.hero-intro > a:hover{
    background-color: #f0e8e5;
    color: #5f0b47;
    transform: translateX(2px);
}

.hero-icon{
    height: 20%;
    width: 20%;
    display: flex;
    gap: 2rem;
    font-size: 0.2rem;
}

.icon a{
    color: rgb(13, 9, 120);
    background-color: whitesmoke;
    align-self: flex-start; 
    padding: 0.5rem;
    font-size: 0.7rem;
    border-radius: 15px;
}

.icon a :hover {
    color: rgb(20, 48, 204) ;
    font-size: 0.95rem;
}

#hero img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    padding: 2rem;
    object-fit: cover;
}


/* ABOUT SECTION */
#about{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0.95rem 0;
}

.about-intro{
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    align-items: center;
}

.about-intro h2 {
    font-size: 2rem;
    font-weight: 600;
}

.about-intro p {
    font-size: 0.8rem;  
}

.about-content {
    width: 100%;
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 0 1.3rem;
}

.about-content img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.about-content article:nth-child(2){
    font-size: 0.7rem;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    letter-spacing: 1.5;
}

#about a {
    width: 25%;
    display: flex;
    justify-content: center;
    background-color: #5f0b47;
    color: #f0e8e5;
    padding: 0.5rem;
    border-radius: 10px;
    align-self: center;
    transition: transform  0.3s ease-in-out;
}

#about > a:hover{
    background-color: #f0e8e5;
    color: #5f0b47;
    transform: translateX(2px);
}


/* SKILLS SECTION */
#skills {
    background-color: #16081b;
    width: 100%;
    height: 100%;
    border: 1px solid rgb(136, 133, 133, 0.3);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0.95rem 0;
}

.skills-intro{
    display: flex;
    flex-direction: column ;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.skills-intro h2 {
    font-size: 2rem;
    font-weight: 600;
}

.skills p {
    font-size: 0.8rem;  
}


.skills-content {
    width: 90%;
    height: 90%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    column-gap: 5rem;
    row-gap: 3rem;
    padding: 1rem 2rem;
    margin: 0 1rem;
}

.skills-content article {
    width: 100%;
    height: 100%;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border: 1px solid gray;
    border-radius: 15px;
    font-size: 02rem;
}




@media (min-width: 768px){
/* hero section */
.hero-intro h1 {
    font-size: 3rem;
}

.hero-intro p{
    font-size: 0.95rem;
}


#hero img {
    width: 500px;
    height: 500px;
}

/* about section */
.about-content{
    display: grid;
    grid-template-columns:1fr 1fr;
}
.about-content img{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 2rem;
}

.about-content p{
    font-size: 1.3rem;
    letter-spacing: 5;
}

.skills-content {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 200px);
    column-gap: 4rem;
    row-gap: 3rem;
    margin: 0 3rem;
}

.skills-content article p{
    font-size: 1.2rem;
}




}

/* for bigger screen  */
@media (min-width: 1024px){

    /* hide mobile lin */
    .mobile {
        display: none;
    }


    /* show desktop nav links*/
header nav > a {
    display: inline-block;
}

header .desktop{
    display: flex;
    gap: 3rem;
}

/* desktop nav links */
.desktop li > a {
    color: #c7c4c3;
    font-size: 0.8rem;
    font-weight: 500;
    transition: filter 0.3s ease-in-out;
}

.desktop li > a:hover{
    color: whitesmoke;
    text-decoration: underline;
    text-decoration-color: #ec36b8;;
    font-size: 1rem;
    filter: brightness(100%);

}

/* desktop direct anchor tag style */
.chat {
    background-color:#5a154e;
    color: #f0e8e5;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.chat span {
    color: rgb(192, 10, 216);
}

.chat:hover{
    background-color:#f0e8e5;
    color: #5a154e;
    transform: translateY(2px);
}

/* hero section */
.hero-intro{
    gap: 3rem;
    padding: 2rem 1rem ;
    font-size: 1.5rem;
}

.hero-intro h1 {
    font-size: 3rem;
}

.hero-intro p{
    font-size: 0.95rem;
}

.hero-intro > a {
    background-color: #5f0b47;
    color: #f0e8e5;
    padding: 1rem 0.9rem;
    border-radius: 10px;
}

.icon a{
    font-size: 1.5rem;
}

.icon a :hover {
    font-size: 2rem;
}

#hero img {
    width: 600px;
    height: 600px;
}

/* About section */

.about-content {
    grid-template-columns: 1fr 2fr;
}


}

@media (min-width:1500px){
    header nav{
    width: 80%;
    max-width: 80rem;
    margin: 0 auto;
}
}

