* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", "Open Sans", sans-serif;
}

body {
    background: repeating-linear-gradient(37deg, #ff5722 90%, rgb(48, 47, 47)) ;
    color: whitesmoke;
    height: auto;
    width: 100%;
}


header {
    width: 100%;
    height: 5rem;
    background-color: rgba(48, 46, 46, 0.4);
    border-bottom: 1px solid rgb(49, 48, 48, 0.1);
    position: sticky;
    z-index: 50;
    top: 0;
}

header nav {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 0 1rem;
}
/* list style and links underline removal */
ul li {
    list-style: none;
}

a{
    text-decoration: none;
}

/* Navigation bar */
header .desktop,
header nav > a {
    display: none;
}

.name{
    display: flex;
    gap: 0.2rem;
    font-size: 1.5rem;
    font-weight: 800;
}

.name span:nth-child(1){
    background-color:  #3c3a39;
    color: #aaa7a5;
    width: 4rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.name span:nth-child(2){
    color: #dbd0ca;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.mobile ul.mobile-dropdown{
    position: absolute;
    right: 0;
    top: 100%;
    background-color: #dbd0ca;
    border-left: 1px solid rgb(126, 117, 117);
    border-bottom: 1px solid rgb(126, 117, 117);
    width: 50%;
    max-width: 10rem;
    height: calc(100vh - 5rem);
    padding: 1.5rem 1rem;
    display:none;
    flex-direction: column;
    gap: 2rem;
}

.mobile a{
    color: black;
    font-weight: 500;
}

.mobile-dropdown li:nth-child(6) {
background-color: #ea896b;
color: whitesmoke;
display: flex;
justify-content: center;
align-items: center;
border-radius: 10px;
width: 8rem;
height: 2rem;
font-size: 0.8rem;
gap: 0.5rem;
}

.mobile button{
    font-size: 1.8rem;
    border-radius: 10px;
    outline: 0;
}

.mobile li:nth-child(6) span{
    color: rgb(28, 161, 119);
}

            /* Hero section */

.hero {
    width: 100%;
    height: 100%;
    min-height: calc(100vh - 5rem);
    border: 1px solid rgb(103, 101, 101, 0.3);
    display: flex;
    align-items: center;
    /* flex-direction: column; */
    justify-content: space-around;
    margin-top: 0.8rem;
}

.hero-intro{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 1rem ;
    font-size: 1.5rem;
}

.hero-intro h1 {
    font-size: 3rem;
    font-weight: 600;
    font-family: "Montserrat";
}

.hero-intro p{
    font-size: 0.95rem;
    font-weight: 600;
    font-family: "Roboto";
}

.hero-intro > a {
    background-color: #575553;
    color: #f0e8e5;
    padding: 1rem 0.9rem;
    border-radius: 10px;
    align-self: flex-start;
    transition: transform  0.3s ease-in-out;
    font-size: 1rem;

}

.hero-intro > a:hover{
    color: #d8471a;
    transform: translateX(2px);
}

.hero-icon{
    height: 20%;
    width: 20%;
    display: flex;
    gap: 2rem;
}

.icon a{
    color: rgb(52, 96, 123);
    background-color: whitesmoke;
    align-self: flex-start; 
    padding: 0.5rem;
    border-radius: 15px;
}

.icon a :hover {
    color: rgb(73, 166, 224) ;
    font-size: 2rem;
}

.hero img {
    width: 600px;
    height: 600px;
    border-radius: 50%;
    padding: 2rem;
    object-fit: cover;
}

            /* About section*/
.about{
    width: 100%;
    height: 100%;
    margin: 0.95rem 0;
    border: 1px solid rgb(136, 133, 133, 0.3);
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.about-intro{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    padding: 0.95rem 0;

}

.about-intro h2 {
    font-size: 2rem;
    font-weight: 700;
}

.about-intro img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.about-intro a {
    width: 10rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #575553;
    color: #f0e8e5;
    border-radius: 10px;
    transition: transform  0.3s ease-in-out;
    font-size: 1rem;

}

.about-intro a:hover{
    color: #d8471a;
    transform: translateX(2px);
}

            /* skills section */



@media (min-width: 768px){

    .hero p {
        font-size: 1.2rem;
    }

    .hero {
        min-height: 60vh;
    }

}

/* for bigger screen  */
@media (min-width: 1024px){

    /* hide mobile lin */
    .mobile {
        display: none;
    }


    /* show desktop nav links*/
header nav > a {
    display: inline-block;
}

header .desktop{
    display: flex;
    gap: 3rem;
}

/* desktop nav links */
.desktop li > a {
    color: #f0e8e5;
    font-size: 0.8rem;
    font-weight: 500;
    transition: filter 0.3s ease-in-out;
}

.desktop li > a:hover{
    color: #d8471a;
    font-size: 1rem;
    filter: brightness(100%);

}

/* desktop direct anchor tag style */
.chat {
    background-color: #3c3a39;
    color: #f0e8e5;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.chat span {
    color: rgb(28, 121, 28);
}

.chat:hover{
    background-color: #aaa7a5;
    color: #d8471a;
    transform: translateY(2px);
    
}

}

@media (min-width:1500px){
    header nav{
    width: 80%;
    max-width: 80rem;
    margin: 0 auto;
}
}

